    
   
    <header><!--inicio cabecalho--> 
      <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-transparente">
        <div class="container">

          <a href="" class="navbar-brand">
            <%= image_tag("tabas.svg", :alt => "tabas",style: 'height:15%;width:15%;') %>
          </a>

          <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
            <i class="fas fa-bars text-white"></i>
          </button>

          <div class="collapse navbar-collapse" id="nav-principal">
            <ul class="navbar-nav ml-auto">
              <li class="navbar-item">
                <a href="" class="nav-link">Premium</a>
              </li>
              <li class="navbar-item">
                <a href="" class="nav-link">Ajuda</a>
              </li>
              <li class="navbar-item">
                <a href="" class="nav-link">Baixar</a>
              </li>
              <li class="navbar-item divisor">|</a>
              </li>
              <li class="navbar-item">
                <a href="" class="nav-link">Inscrever-se</a>
              </li>
              <li class="navbar-item">
                <a href="" class="nav-link">Entrar</a>
              </li>
            </ul>
          </div>

        </div>
        
      </nav>
    </header><!--fim cabecalho-->

    <section id="home" class="d-flex"><!-- inicio home-->
      <div class="container align-self-center"><!-- inicio container-->
        <div class="row"><!-- inicio row-->
          <h1>Your home wherever you are</h1>
          <h6>Beautifully designed, fully furnished apartments in São Paulo and Rio de Janeiro to make you feel at home</h6>
        </div><!-- fim row-->
      </div><!-- fim container-->
    </section><!-- fim home-->

    <section id="servicos" class="caixa"><!-- INICIO Servicos -->
      <div class="container">
        <div class="row">
          
        </div>
      </div>
    </section><!-- FIM Servicos -->

    <section id="recursos" class="caixa"> <!--INICIO Recursos-->
      <div class="container">
        <div class="row">

            
    
        </div>
      </div>

    </section><!--FIM Recursos-->

    <footer>
      <div class="container">
        <div class="row">
        

          <div class="">
            <h4>Copyright © 2021 Tabas. All rights reserved</h4>

            <ul class="navbar-nav">
              
              <li><a href="">Cookies Policy</a></li>
              <li><a href="">Terms & Conditions</a></li>
              <li><a href="">Privacy Policy</a></li>
            </ul>
          </div>

        </div>
      </div>

    </footer>

