<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <!-- Estilo customizado -->
    <link rel="stylesheet" type="text/css" href="css/estilo.css">

    <title>Tabas</title>
    <link rel="icon" href="">
  </head>
  <body>
    
    <header><!--inicio cabecalho--> 
      <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-transparente">
        <div class="container">

          <a href="" class="navbar-brand">
            <img src="" width="">
          </a>

          <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
            <i class="fas fa-bars text-white"></i>
          </button>

          <div class="collapse navbar-collapse" id="nav-principal">
            <ul class="navbar-nav ml-auto">
              <li class="navbar-item">
                <a href="" class="nav-link">Premium</a>
              </li>
              <li class="navbar-item">
                <a href="" class="nav-link">Ajuda</a>
              </li>
              <li class="navbar-item">
                <a href="" class="nav-link">Baixar</a>
              </li>
              <li class="navbar-item divisor"></a>
              </li>
              <li class="navbar-item">
                <a href="" class="nav-link">Inscrever-se</a>
              </li>
              <li class="navbar-item">
                <a href="" class="nav-link">Entrar</a>
              </li>
            </ul>
          </div>

        </div>
        
      </nav>
    </header><!--fim cabecalho-->

    <section id="home" class="d-flex"><!-- inicio home-->
      <div class="container align-self-center"><!-- inicio container-->
        <div class="row"><!-- inicio row-->
          
        </div><!-- fim row-->
      </div><!-- fim container-->
    </section><!-- fim home-->

    <section id="servicos" class="caixa"><!-- INICIO Servicos -->
      <div class="container">
        <div class="row">
          
        </div>
      </div>
    </section><!-- FIM Servicos -->

    <section id="recursos" class="caixa"> <!--INICIO Recursos-->
      <div class="container">
        <div class="row">

            
    
        </div>
      </div>

    </section><!--FIM Recursos-->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <img src="imagens/spotify.svg" width="142">
          </div>

          <div class="col-md-2">
            <h4>Company</h4>

            <ul class="navbar-nav">
              <li><a href="">Sobre</a></li>
              <li><a href="">Empregos</a></li>
              <li><a href="">Imprensa</a></li>
              <li><a href="">Novidade</a></li>
            </ul>
          </div>

          <div class="col-md-2">
            <h4>Comunidade</h4>
            
            <ul class="navbar-nav">
              <li><a href="">Sobre</a></li>
              <li><a href="">Empregos</a></li>
              <li><a href="">Imprensa</a></li>
              <li><a href="">Novidade</a></li>
            </ul>

          </div>

          <div class="col-md-2">
            <h4>Links Uteis</h4>
            
            <ul class="navbar-nav">
              <li><a href="">Sobre</a></li>
              <li><a href="">Empregos</a></li>
              <li><a href="">Imprensa</a></li>
              <li><a href="">Novidade</a></li>
            </ul>

          </div>

          <div class="col-md-4">
            <ul>
              <li>
                <a href="">
                  <img src="">
                </a>
              </li>
              <li>
                <a href="">
                  <img src="">
                </a>
              </li>
              <li>
                <a href="">
                  <img src="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </footer>

  </body>
</html>
