/* fundo */
html, body, #home {
    height:100%;
}

body{
background: url('casa_1.jpg') no-repeat center center;
background-size: cover;
height: 700px;
background-attachment: fixed;
}

/*barra de navegacao */
nav.navbar-branca {
    padding: 5px 0px;
    background: white;

}
.separar{
    white-space: nowrap;
    padding:0px 10px;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}

.navbar-light .navbar-toggler {
    color: black;
    border-color: black;

}

/* capa */
.margin {
    margin-top: 300px;
}
.capa {
    text-align: center;
    color:white;
    text-shadow: 
               -1px -1px 0px black, 
               -1px 1px 0px black,                    
                1px -1px 0px black,                  
                1px 0px 0px black;
    
}
.centralizar{
    text-align: center;
}



/*tipografia */
h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 30px;
}


